# =================================================================
# INFRASTRUCTURE CONFIGURATION (llama.cpp) - CPU MODE
# =================================================================

# Docker Compose file for CPU
COMPOSE_FILE=docker/docker-compose-cpu.yml

# Hugging Face Repository and File
HF_REPO=Qwen/Qwen2.5-Coder-14B-Instruct-GGUF
HF_FILE=qwen2.5-coder-14b-instruct-q4_k_m.gguf

# Local port to access llama-server
LLAMA_PORT=12345

# Context size (measured in tokens)
# Works well with 32k or 64k for this model on 16GB VRAM
LLAMA_CONTEXT_SIZE=65536

# CPU Threads (Supose you have 16 cores, total threads - 2 = 14)
LLAMA_CPU_THREADS=12
