# =================================================================
# INFRASTRUCTURE CONFIGURATION (llama.cpp) - CPU MODE
# =================================================================

# Docker Compose file for CPU
COMPOSE_FILE=docker/docker-compose-cpu.yml

#MODEL
# ULTRA SLOW ON CPU :/
#https://huggingface.co/Jackrong/Qwopus3.5-9B-v3-GGUF
HF_REPO=jackrong/Qwopus3.5-9B-v3-GGUF
# More compressed model (faster-worse accuracy)
HF_FILE=Qwopus3.5-9B-v3.Q4_K_M.gguf
# Least compressed model (slower-better accuracy)
#HF_FILE=Qwopus3.5-9B-v3.Q8_0.gguf

# Local host to access llama-server
LLAMA_HOST=127.0.0.1
# Local port to access llama-server
LLAMA_PORT=12345

# Context size (measured in tokens)
# Works well with 32k or 64k for this model on 16GB VRAM
LLAMA_CONTEXT_SIZE=32768

# CPU Threads (Supose you have 16 cores, total threads - 2 = 14)
LLAMA_CPU_THREADS=14
